{% extends 'base.html' %}

{% load i18n %}

{% block title %}Lists{% endblock %}

{% block content %}

  <h1>{% trans 'Mailing Lists' %}</h1>

  <p>
    <a href="{% url 'mailing:new_list' %}">{% trans 'New list' %}</a>
  </p>

  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Subscribers</th>
        <th>Opens</th>
        <th>Clicks</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for mailing_list in mailing_lists %}
        <tr>
          <td><a href="{{ mailing_list.get_absolute_url }}">{{ mailing_list.name }}</a></td>
          <td>{{ mailing_list.subscribers_count }}</td>
          <td>{{ mailing_list.open_rate }}</td>
          <td>{{ mailing_list.click_rate }}</td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
