{% extends 'registration/base.html' %}

{% load crispy_forms_tags i18n %}

{% block content %}
  <div class="col-sm-10 col-md-8 col-lg-6">
    {% if validlink %}
      <div class="card my-2">
        <div class="card-body">
          <h4 class="card-title">{% trans 'Change password' %}</h4>
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-block">{% trans 'Change password' %}</button>
          </form>
        </div>
      </div>
    {% else %}
      <div class="card border-danger my-2">
        <div class="card-body">
          <h4 class="card-title">{% trans 'Invalid link' %}</h4>
          <p class="card-text">The link you are trying to use has either been used or expired.</p>
          <p class="card-text">
            Request a new <a href="{% url 'password_reset' %}">password reset</a> link.
          </p>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
