{% extends 'base.html' %}

{% load crispy_forms_tags i18n static %}

{% block title %}{{ email_template.name }}{% endblock %}

{% block javascript %}
  <script src="{% static 'vendor/jquery.are-you-sure.js' %}"></script>
  <script src="{% static 'vendor/ace/1.3.3/ace.js' %}"></script>
  <script>
    $(function () {
      var editorHeight = $(window).height() - $("#editor").offset()['top'] - 18;
      $("#aceEditor").css("height", editorHeight + "px");
      $("#previewEmailContainer .card-body").css("height", editorHeight + "px");

      var editor = ace.edit("aceEditor");
      editor.setTheme("ace/theme/clouds");
      editor.getSession().setOptions({
        mode: "ace/mode/django",
        wrap: true,
        tabSize: 2,
        useSoftTabs: true
      });

      var $form = $("#templateForm");
      var updatePreview = false;
      var processingRequest = false;

      editor.on("change", function (e) {
        $("#id_content").val(editor.getValue());
        updatePreview = true;
      });

      setInterval(function () {
        if (updatePreview && !processingRequest) {
          $.ajax({
            url: $form.attr("data-preview-url"),
            type: $form.attr("method"),
            data: $form.serialize(),
            dataType: 'json',
            beforeSend: function () {
              processingRequest = true;
            },
            success: function (data) {
              $("#previewTemplate").contents().find("html").html(data.html);
            },
            error: function () {},
            complete: function () {
              updatePreview = false;
              processingRequest = false;
            }
          });
        }
      }, 2000);  // Every two seconds



      $form.submit(function () {
        $("#id_content").val(editor.getValue());
        return true;
      });

      $form.areYouSure({
        message: $form.attr("data-are-you-sure-message")
      });

    });
  </script>
{% endblock %}

{% block main %}
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'templates:emailtemplates' %}">{% trans 'Templates' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ email_template.name }}</li>
      </ol>
    </nav>

    <form id="templateForm"
          method="post"
          novalidate
          data-preview-url="{% url 'templates:emailtemplate_preview' email_template.pk %}"
          data-are-you-sure-message="{% trans 'You have unsaved changes!' %}">
      {% csrf_token %}
      <div style="display:none!important">
        {{ form.content }}
      </div>
      <div class="mb-3 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <h2 class="mb-0 mr-2">{{ email_template.name }}</h2>
          <a href="{% url 'templates:emailtemplate_edit' email_template.pk %}" class="btn btn-sm btn-link" role="button">{% trans 'Edit name' %}</a>
        </div>
        <div>
          <a href="{% url 'templates:emailtemplate_delete' email_template.pk %}" class="btn btn-outline-danger" role="button">{% trans 'Delete template' %}</a>
          <button type="submit" name="action" value="save_changes" class="btn btn-outline-success" role="button">{% trans 'Save changes' %}</button>
          <button type="submit" name="action" value="save_and_close" class="btn btn-success" role="button">{% trans 'Save and close' %}</button>
        </div>
      </div>

      {% if form.content.errors %}
        <div class="alert alert-danger">
          {% for error in form.content.errors %}
          <div>{{ error }}</div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="row" id="editor">
        <div class="col-lg-6">
          <div class="card {% if form.errors %}border-danger{% else %}border-primary{% endif %} mb-3">
            <div class="card-body p-0">
              <div id="aceEditor" style="height:300px">{{ form.instance.content }}</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card" id="previewEmailContainer">
            <div class="card-body p-0">
              <iframe src="{% url 'templates:emailtemplate_preview' email_template.pk %}" id="previewTemplate" class="w-100 h-100" style="border:0;"></iframe>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
{% endblock %}
