{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Delete' %}{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'templates:emailtemplates' %}">{% trans 'Templates' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'templates:emailtemplate_editor' email_template.pk %}">{{ email_template.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Delete' %}</li>
    </ol>
  </nav>
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="card-title">{% trans 'Are you sure?' %}</h2>
      <p>You are about to delete the template <strong>{{ email_template.name }}</strong>.</p>
      <form method="post" novalidate>
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" role="button">{% trans 'Confirm deletion' %}</button>
        <a href="{% url 'templates:emailtemplate_editor' email_template.pk %}" class="btn btn-outline-secondary" role="button">{% trans 'Never mind' %}</a>
      </form>
    </div>
  </div>
{% endblock %}
