{% extends 'base.html' %}

{% load crispy_forms_tags i18n static %}

{% block title %}{{ email_template.name }}{% endblock %}

{% block javascript %}
  <script src="{% static 'vendor/ace/1.3.3/ace.js' %}"></script>
  <script>
    $(function () {
      var editorHeight = $(window).height() - $("#designEmailContainer").offset()['top'] - (63 + 18);
      $("#editor").css("height", editorHeight + "px");
      $("#previewEmailContainer .card-body").css("height", editorHeight + "px");

      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/clouds");
      editor.getSession().setMode("ace/mode/django");
      editor.getSession().setUseWrapMode(true);

      $("#designEmailForm").submit(function () {
        $("#id_content").val(editor.getValue());
        return true;
      });

      $(".js-update-preview").click(function () {
        var $btn = $(this);

        $.ajax({
          url: $btn.attr("data-remote-url"),
          type: 'post',
          data: {
            'content': editor.getValue(),
            'csrfmiddlewaretoken': $btn.attr("data-csrf")
          },
          dataType: 'json',
          beforeSend: function () {
            $btn.attr("data-text", $btn.text());
            $btn.text($btn.attr("data-loading"));
            $btn.prop("disable", true);
          },
          success: function (data) {
            $("#previewEmailIframe").contents().find("html").html(data.html);
          },
          error: function () {

          },
          complete: function () {
            $btn.text($btn.attr("data-text"));
            $btn.prop("disable", false);
          }
        });

      });

    });
  </script>
{% endblock %}

{% block main %}
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'templates:emailtemplates' %}">{% trans 'Templates' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ email_template.name }}</li>
      </ol>
    </nav>
    <div class="mb-3 d-flex align-items-center">
      <h2 class="mb-0 mr-2">{{ email_template.name }}</h2>
      <a href="{% url 'templates:emailtemplate_edit' email_template.pk %}" class="btn btn-sm btn-link" role="button">Edit name</a>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card border-primary mb-3" id="designEmailContainer">
          <div class="card-body p-0">
            <div id="editor" style="height:300px">{{ email_template.content }}</div>
          </div>
          <div class="card-footer">
            <form method="post" id="designEmailForm" novalidate>
              {% csrf_token %}
              <div style="display:none;">
                {{ form|crispy }}
              </div>
              <button type="submit" class="btn btn-success" role="button">{% trans 'Save changes' %}</button>
              <a href="{% url 'templates:emailtemplates' %}" class="btn btn-outline-secondary" role="button">{% trans 'Never mind' %}</a>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card" id="previewEmailContainer">
          <div class="card-body p-0">
            <!--iframe src="" id="previewEmailIframe" class="w-100 h-100" style="border:0;"></iframe-->
          </div>
          <div class="card-footer">
            <button type="button"
                    class="btn btn-primary js-update-preview"
                    data-csrf="{{ csrf_token }}"
                    data-remote-url="#"
                    data-loading="{% trans 'Updating preview…' %}">{% trans 'Update preview' %}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
