{% extends 'registration/base.html' %}

{% load i18n %}

{% block content %}
  <div class="col-sm-10 col-md-8 col-lg-6">
    <div class="card border-success my-2">
      <div class="card-body">
        <h4 class="card-title">{% trans 'Password reset link sent' %}</h4>
        <p class="card-text">
          Please click on the link we just sent to your email address to confirm the password reset.
        </p>
        <p class="card-text">If you did not receive our email, you can <a href="{% url 'password_reset' %}">request a new link</a>.</p>
      </div>
    </div>
    <div class="text-center">
      <a href="{% url 'login' %}" class="btn btn-link">{% trans 'Return to log in page' %}</a>
    </div>
  </div>
{% endblock %}
