{% extends 'registration/base.html' %}

{% load crispy_forms_tags i18n %}

{% block javascript %}
  <script>
    $(function () {
      $("#id_email").focus();
    });
  </script>
{% endblock %}

{% block content %}
  <div class="col-sm-10 col-md-8 col-lg-6">
    <div class="card my-2">
      <div class="card-body">
        <h4 class="card-title">{% trans 'Reset your password' %}</h4>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary btn-block">{% trans 'Send' %}</button>
        </form>
      </div>
    </div>
    <div class="text-center">
      <a href="{% url 'login' %}" class="btn btn-link">{% trans 'Return to log in page' %}</a>
    </div>
  </div>
{% endblock %}
