{% extends 'base.html' %}

{% block title %}{{ form_template.get_key_display }}{% endblock %}

{% load colossus i18n %}

{% block main %}
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'lists:lists' %}">{% trans 'Mailing Lists' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'lists:list' mailing_list.pk %}">{{ mailing_list.name }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'lists:subscription_forms' mailing_list.pk %}">{% trans 'Subscription Forms' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'lists:forms_editor' mailing_list.pk %}">{% trans 'Forms Editor' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ form_template.get_key_display }}</li>
      </ol>
    </nav>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="d-flex align-items-center">
        <h6 class="mb-0 mr-3">{% trans 'Forms and response emails' %}</h6>
        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuFormResponsesEmails" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ form_template.get_key_display }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuFormResponsesEmails">
            <h6 class="dropdown-header">{% trans 'Subscribe' %}</h6>
            <a class="dropdown-item{% if form_template.key == template_keys.SUBSCRIBE_PAGE %} active{% endif %}" href="{% url 'lists:edit_form_template' mailing_list.pk template_keys.SUBSCRIBE_PAGE %}">
              {{ template_keys.LABELS|get:template_keys.SUBSCRIBE_PAGE }}
            </a>
            <a class="dropdown-item{% if form_template.key == template_keys.SUBSCRIBE_THANK_YOU_PAGE %} active{% endif %}" href="{% url 'lists:edit_form_template' mailing_list.pk template_keys.SUBSCRIBE_THANK_YOU_PAGE %}">
              {{ template_keys.LABELS|get:template_keys.SUBSCRIBE_THANK_YOU_PAGE }}
            </a>
            <a class="dropdown-item{% if form_template.key == template_keys.CONFIRM_EMAIL %} active{% endif %}" href="{% url 'lists:edit_form_template' mailing_list.pk template_keys.CONFIRM_EMAIL %}">
              {{ template_keys.LABELS|get:template_keys.CONFIRM_EMAIL }}
            </a>
            <a class="dropdown-item{% if form_template.key == template_keys.CONFIRM_THANK_YOU_PAGE %} active{% endif %}" href="{% url 'lists:edit_form_template' mailing_list.pk template_keys.CONFIRM_THANK_YOU_PAGE %}">
              {{ template_keys.LABELS|get:template_keys.CONFIRM_THANK_YOU_PAGE }}
            </a>
            <a class="dropdown-item{% if form_template.key == template_keys.WELCOME_EMAIL %} active{% endif %}" href="{% url 'lists:edit_form_template' mailing_list.pk template_keys.WELCOME_EMAIL %}">
              {{ template_keys.LABELS|get:template_keys.WELCOME_EMAIL }}
            </a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">{% trans 'Unsubscribe' %}</h6>
            <a class="dropdown-item{% if form_template.key == template_keys.UNSUBSCRIBE_PAGE %} active{% endif %}" href="{% url 'lists:edit_form_template' mailing_list.pk template_keys.UNSUBSCRIBE_PAGE %}">
              {{ template_keys.LABELS|get:template_keys.UNSUBSCRIBE_PAGE }}
            </a>
            <a class="dropdown-item{% if form_template.key == template_keys.UNSUBSCRIBE_SUCCESS_PAGE %} active{% endif %}" href="{% url 'lists:edit_form_template' mailing_list.pk template_keys.UNSUBSCRIBE_SUCCESS_PAGE %}">
              {{ template_keys.LABELS|get:template_keys.UNSUBSCRIBE_SUCCESS_PAGE }}
            </a>
            <a class="dropdown-item{% if form_template.key == template_keys.GOODBYE_EMAIL %} active{% endif %}" href="{% url 'lists:edit_form_template' mailing_list.pk template_keys.GOODBYE_EMAIL %}">
              {{ template_keys.LABELS|get:template_keys.GOODBYE_EMAIL }}
            </a>
          </div>
        </div>
      </div>
      <nav>
        <a href="" class="btn btn-link" role="button">{% trans 'Reset defaults' %}</a>
        <a href="{% url 'lists:customize_design' mailing_list.pk %}" class="btn btn-primary" role="button">{% trans 'Customize base design' %}</a>
        <button type="button" class="btn btn-success js-save-form">{% trans 'Save changes' %}</button>
      </nav>
    </div>
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}
