{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ mailing_list.name }}{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'lists:lists' %}">{% trans 'Mailing Lists' %}</a></li>
      {% block innerbreadcrumb %}
        <li class="breadcrumb-item active" aria-current="page">{{ mailing_list.name }}</li>
      {% endblock %}
    </ol>
  </nav>
  <h2 class="mb-3">
    {{ mailing_list.name }}
    <small class="text-muted">{{ mailing_list.get_active_subscribers.count }}</small>
  </h2>
  <div class="card mb-3">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link{% if submenu == 'details' %} active{% endif %}" href="{% url 'lists:list' mailing_list.pk %}">
            {% trans 'Summary' %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if submenu == 'subscribers' %} active{% endif %}" href="{% url 'lists:subscribers' mailing_list.pk %}">
            {% trans 'Subscribers' %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if submenu == 'tags' %} active{% endif %}" href="{% url 'lists:tags' mailing_list.pk %}">
            {% trans 'Tags' %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if submenu == 'forms' %} active{% endif %}" href="{% url 'lists:subscription_forms' mailing_list.pk %}">
            {% trans 'Forms' %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if submenu == 'settings' %} active{% endif %}" href="{% url 'lists:settings' mailing_list.pk %}">
            {% trans 'Settings' %}
          </a>
        </li>
      </ul>
    </div>
    {% block innercontent %}
    {% endblock %}
  </div>
  {% block outercontent %}
  {% endblock %}
{% endblock %}
