{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Forms Editor' %}{% endblock %}

{% block main %}
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'lists:lists' %}">{% trans 'Mailing Lists' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'lists:list' mailing_list.pk %}">{{ mailing_list.name }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'lists:subscription_forms' mailing_list.pk %}">{% trans 'Subscription Forms' %}</a></li>
        {% block breadcrumb %}
          <li class="breadcrumb-item active" aria-current="page">{% trans 'Forms Editor' %}</li>
        {% endblock %}
      </ol>
    </nav>
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}
