{% extends 'base.html' %}

{% load crispy_forms_tags i18n %}

{% block title %}{% trans 'Columns Mapping' %}{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'lists:lists' %}">{% trans 'Mailing Lists' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lists:list' mailing_list.pk %}">{{ mailing_list.name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lists:subscribers' mailing_list.pk %}">{% trans 'Subscribers' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lists:import_subscribers' mailing_list.pk %}">{% trans 'Import Subscribers' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lists:csv_import_subscribers' mailing_list.pk %}">{% trans 'Import CSV File' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Columns Mapping' %}</li>
    </ol>
  </nav>
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="card-title">{% trans 'Columns Mapping' %}</h2>
      <p>
        <strong>{% trans 'Filename:' %}</strong>
        <a href="{% url 'lists:download_subscriber_import' mailing_list.pk subscriber_import.pk %}">{{ subscriber_import.file.name }}</a>
      </p>

      {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors.as_ul }}
      </div>
      {% endif %}

      <code><pre>{{ subscriber_import.get_columns_mapping }}</pre></code>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-sm table-bordered table-striped">
          <thead>
            <tr>
              <th>{% trans 'Index' %}</th>
              <th>{% trans 'CSV Column' %}</th>
              <th>{% trans 'Map to Subscriber Field' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for field in form %}
              <tr>
                <td class="align-middle">{{ forloop.counter0 }}</td>
                <td>
                  <label for="{{ field.id_for_label }}" class="mb-0">{{ field.label }}</label>
                  <p class="mb-0">
                    <small class="text-muted">{{ field.help_text }}</small>
                  </p>
                </td>
                <td class="align-middle">{{ field }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <button type="submit" class="btn btn-success" role="button">{% trans 'Save columns mapping' %}</button>
        <a href="{% url 'lists:import_subscribers' mailing_list.pk %}" class="btn btn-outline-secondary" role="button">{% trans 'Finish later' %}</a>
        <a href="{% url 'lists:import_subscribers' mailing_list.pk %}" class="btn btn-outline-danger" role="button">{% trans 'Discard' %}</a>
      </form>

    </div>
  </div>
{% endblock %}
