{% extends 'lists/base_editor.html' %}

{% load colossus i18n %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'lists:forms_editor' mailing_list.pk %}">{% trans 'Forms Editor' %}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ form_template.get_key_display }}</li>
{% endblock %}

{% block content %}

  <div class="dropdown mb-4">
    <button class="btn btn-outline-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuFormResponsesEmails" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ form_template.get_key_display }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuFormResponsesEmails">
      <h6 class="dropdown-header">{% trans 'Subscribe' %}</h6>
      <a class="dropdown-item{% if form_template.key == template_keys.SUBSCRIBE_PAGE %} active{% endif %}" href="{% url 'lists:edit_form_template' mailing_list.pk template_keys.SUBSCRIBE_PAGE %}">
        {% dict template_keys.LABELS template_keys.SUBSCRIBE_PAGE %}
      </a>
      <a class="dropdown-item{% if form_template.key == template_keys.SUBSCRIBE_THANK_YOU_PAGE %} active{% endif %}" href="{% url 'lists:edit_form_template' mailing_list.pk template_keys.SUBSCRIBE_THANK_YOU_PAGE %}">
        {% dict template_keys.LABELS template_keys.SUBSCRIBE_THANK_YOU_PAGE %}
      </a>
      <a class="dropdown-item{% if form_template.key == template_keys.CONFIRM_EMAIL %} active{% endif %}" href="{% url 'lists:edit_form_template' mailing_list.pk template_keys.CONFIRM_EMAIL %}">
        {% dict template_keys.LABELS template_keys.CONFIRM_EMAIL %}
      </a>
      <a class="dropdown-item{% if form_template.key == template_keys.CONFIRM_THANK_YOU_PAGE %} active{% endif %}" href="{% url 'lists:edit_form_template' mailing_list.pk template_keys.CONFIRM_THANK_YOU_PAGE %}">
        {% dict template_keys.LABELS template_keys.CONFIRM_THANK_YOU_PAGE %}
      </a>
      <a class="dropdown-item{% if form_template.key == template_keys.WELCOME_EMAIL %} active{% endif %}" href="{% url 'lists:edit_form_template' mailing_list.pk template_keys.WELCOME_EMAIL %}">
        {% dict template_keys.LABELS template_keys.WELCOME_EMAIL %}
      </a>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">{% trans 'Unsubscribe' %}</h6>
      <a class="dropdown-item{% if form_template.key == template_keys.UNSUBSCRIBE_PAGE %} active{% endif %}" href="{% url 'lists:edit_form_template' mailing_list.pk template_keys.UNSUBSCRIBE_PAGE %}">
        {% dict template_keys.LABELS template_keys.UNSUBSCRIBE_PAGE %}
      </a>
      <a class="dropdown-item{% if form_template.key == template_keys.UNSUBSCRIBE_SUCCESS_PAGE %} active{% endif %}" href="{% url 'lists:edit_form_template' mailing_list.pk template_keys.UNSUBSCRIBE_SUCCESS_PAGE %}">
        {% dict template_keys.LABELS template_keys.UNSUBSCRIBE_SUCCESS_PAGE %}
      </a>
      <a class="dropdown-item{% if form_template.key == template_keys.GOODBYE_EMAIL %} active{% endif %}" href="{% url 'lists:edit_form_template' mailing_list.pk template_keys.GOODBYE_EMAIL %}">
        {% dict template_keys.LABELS template_keys.GOODBYE_EMAIL %}
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card border-primary">
        <h4 class="card-header">Editor</h4>
        <div class="card-body"></div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <h4 class="card-header">Preview</h4>
        <div class="card-body"></div>
      </div>
    </div>
  </div>
{% endblock %}
