{% extends 'base.html' %}

{% load crispy_forms_tags i18n %}

{% block title %}{% trans 'Your campaign has been sent!' %}{% endblock %}

{% block content %}
  <div class="jumbotron text-center">
    <i data-feather="check-circle" class="text-success" width="64px" height="64px" stroke-width="1"></i>
    <h1 class="">{% trans 'The import task will start soon!' %}</h1>
    <a class="btn btn-link" href="{% url 'lists:list' subscriber_import.mailing_list_id %}" role="button">{% trans 'Return to list →' %}</a>
  </div>
{% endblock %}
