{% extends 'base.html' %}

{% load colossus crispy_forms_tags i18n %}

{% block title %}{% trans 'Confirm import' %}{% endblock %}

{% block stylesheet %}
  <style>
    #tablePreview td,
    #tablePreview th {
      white-space: nowrap;
    }
  </style>
{% endblock %}

{% block javascript %}
  <script>
    // FIXME: Move javascript code to an external .js file
    $(function () {

      var updateTableColumns = function (index) {
        if ($(this).val() === "") {
          $("#tablePreview tbody tr").each(function () {
            $("td", this).eq(index).addClass("table-danger");
          });
        }
        else {
          $("#tablePreview tbody tr").each(function () {
            $("td", this).eq(index).removeClass("table-danger");
          });
        }
      };

      var $columns = $("select[name^='__column_']");

      $columns.each(updateTableColumns);
      $columns.change(function () {
        $("option[value='" + $(this).val() + "']:selected").closest("select").not(this).val("");
        $columns.each(updateTableColumns);
      });

    });
  </script>
{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'lists:lists' %}">{% trans 'Mailing Lists' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lists:list' mailing_list.pk %}">{{ mailing_list.name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lists:subscribers' mailing_list.pk %}">{% trans 'Subscribers' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lists:import_subscribers' mailing_list.pk %}">{% trans 'Import Subscribers' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lists:csv_import_subscribers' mailing_list.pk %}">{% trans 'Import CSV File' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Confirm import' %}</li>
    </ol>
  </nav>
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="card-title">{% trans 'Confirm import' %}</h2>
      <p class="mb-0">
        <strong>{% trans 'Filename:' %}</strong>
        {{ subscriber_import.file.name }}
      </p>
      <p>
        <strong>{% trans 'Size:' %}</strong>
        {{ subscriber_import.size }} rows
      </p>
      <div class="alert alert-primary">
        <span class="fa fa-info-circle mr-1"></span>
        {% trans 'You may select a custom mapping by changing the table header select values below.' %}
      </div>
      <form action="" method="post">
        {% if form.non_field_errors %}
          <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
              <span class="fa fa-exclamation-triangle mr-1"></span> {{ error }}
            {% endfor %}
          </div>
        {% endif %}
        {% csrf_token %}
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between align-items-center">
            <div>
              <span class="far fa-file mr-2"></span>
              {{ subscriber_import.file.name }}
            </div>
            <a href="{% url 'lists:download_subscriber_import' mailing_list.pk subscriber_import.pk %}">
              <span class="fas fa-cloud-download-alt"></span>
            </a>
          </div>
          <div class="table-responsive">
            <table class="table table-sm table-striped table-bordered mb-0" id="tablePreview">
              <thead>
                <tr class="table-secondary">
                  {% for field in form.column_mapping_fields %}
                    <th>{{ field }}</th>
                  {% endfor %}
                </tr>
                <tr>
                  {% for header in subscriber_import.get_headings %}
                    <th>{{ header }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
              {% for row in subscriber_import.get_preview %}
                <tr>
                  {% for col in row %}
                    <td>{{ col }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% if subscriber_import.size > 10 %}
            <div class="card-footer">
              <p class="card-text text-muted">
                <small>
                  {% trans 'Showing first 10 entries. Total entries in the file:' %} {{ subscriber_import.size }}.
                </small>
              </p>
            </div>
          {% endif %}
        </div>
        <p class="mb-0">
          <small class="text-muted">{% trans 'Email field is mandatory' %}</small>
        </p>
        <p>
          <small class="text-muted">{% trans 'Date format:' %} 2001-12-31 23:59:59</small>
        </p>

        <div class="row">
          <div class="col-8">
            {% for field in form.import_settings_fields %}
              {{ field|as_crispy_field }}
            {% endfor %}
          </div>
        </div>
        <button type="submit" role="button" name="submit" value="import" class="btn btn-success">{% trans 'Confirm import' %}</button>
        <button type="submit" role="button" name="submit" value="save" class="btn btn-outline-success">{% trans 'Save & finish later' %}</button>
        <a href="{% url 'lists:delete_subscriber_import' mailing_list.pk subscriber_import.pk %}" class="btn btn-outline-danger" role="button">{% trans 'Discard' %}</a>
      </form>
    </div>
  </div>
{% endblock %}
