{% extends 'base.html' %}

{% load colossus crispy_forms_tags i18n %}

{% block title %}{% trans 'Preview' %}{% endblock %}

{% block stylesheet %}
  <style>
    #tablePreview td,
    #tablePreview th {
      white-space: nowrap;
    }
  </style>
{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'lists:lists' %}">{% trans 'Mailing Lists' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lists:list' mailing_list.pk %}">{{ mailing_list.name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lists:subscribers' mailing_list.pk %}">{% trans 'Subscribers' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lists:import_subscribers' mailing_list.pk %}">{% trans 'Import Subscribers' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lists:csv_import_subscribers' mailing_list.pk %}">{% trans 'Import CSV File' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Preview' %}</li>
    </ol>
  </nav>
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="card-title">{% trans 'Preview' %}</h2>
      <p class="mb-0">
        <strong>{% trans 'Filename:' %}</strong>
        {{ subscriber_import.file.name }}
      </p>
      <p>
        <strong>{% trans 'Size:' %}</strong>
        {{ subscriber_import.size }} rows
      </p>
      {% if subscriber_import.import_type == import_types.BASIC %}
        <p>{% trans 'Colossus will import the data from the CSV file using the following format:' %}</p>
        <pre><code>email<sup>1</sup>, name, optin_ip_address, optin_date<sup>2</sup>, confirm_ip_address, confirm_date<sup>2</sup></code></pre>
        <p class="mb-0">
          <small class="text-muted"><sup>1</sup> {% trans 'Email field is mandatory' %}</small>
        </p>
        <p>
          <small class="text-muted"><sup>2</sup> {% trans 'Date format:' %} 2001-12-31 23:59:59</small>
        </p>
      {% endif %}
      <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
          <div>
            <span class="far fa-file mr-2"></span>
            {{ subscriber_import.file.name }}
          </div>
          <a href="{% url 'lists:download_subscriber_import' mailing_list.pk subscriber_import.pk %}">
            <span class="fas fa-cloud-download-alt"></span>
          </a>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-striped table-bordered mb-0" id="tablePreview">
            <thead>
              <tr>
                <th>Subscriber Fields</th>
                {% for header in subscriber_import.get_headings %}
                  <th>{{ default_template|get:forloop.counter0|get:0 }}</th>
                {% endfor %}
              </tr>
              <tr>
                <th>CSV Import File</th>
                {% for header in subscriber_import.get_headings %}
                  <th{% if forloop.counter > 6 %} class="table-danger"{% endif %}>{{ header }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
            {% for row in subscriber_import.get_preview %}
              <tr>
                <td></td>
                {% for col in row %}
                  <td{% if forloop.counter > 6 %} class="table-danger"{% endif %}>{{ col }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% if subscriber_import.size > 10 %}
          <div class="card-footer">
            <p class="card-text text-muted">
              <small>
                {% trans 'Showing first 10 entries. Total entries in the file:' %} {{ subscriber_import.size }}.
              </small>
            </p>
          </div>
        {% endif %}
      </div>
      <form action="" method="post">
        {% csrf_token %}
        <button type="button" role="button" class="btn btn-success">{% trans 'Confirm import' %}</button>
        <a href="{% url 'lists:import_subscribers' mailing_list.pk %}" class="btn btn-outline-secondary" role="button">{% trans 'Finish later' %}</a>
        <a href="{% url 'lists:delete_subscriber_import' mailing_list.pk subscriber_import.pk %}" class="btn btn-outline-danger" role="button">{% trans 'Discard' %}</a>
      </form>
    </div>
  </div>
{% endblock %}
