{% extends 'base.html' %}

{% load colossus i18n %}

{% block title %}{% trans 'Mailing Lists' %}{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Mailing Lists' %}</li>
    </ol>
  </nav>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-0">{% trans 'Mailing Lists' %}</h2>
        <a href="{% url 'lists:new_list' %}" class="btn btn-primary" role="button">{% trans 'Create list' %}</a>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <div class="list-group-item">
        <div class="row">
          <div class="col-6">
            <form method="get">
              <div class="input-group">
                <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="{% trans 'Search lists' %}" aria-label="{% trans 'Search lists' %}" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  {% if query %}
                    <a href="?" class="btn btn-outline-primary" role="button">
                      {% trans 'Clear' %}
                    </a>
                  {% endif %}
                  <button class="btn btn-primary" type="submit">{% trans 'Search' %}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped mb-0">
      <thead class="thead-light">
        <tr>
          <th>{% trans 'Name' %}</th>
          <th style="width:15%;">{% trans 'Subscribers' %}</th>
          <th style="width:15%;">{% trans 'Opens' %}</th>
          <th style="width:15%;">{% trans 'Clicks' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for mailing_list in mailing_lists %}
          <tr>
            <td><a href="{{ mailing_list.get_absolute_url }}">{{ mailing_list.name }}</a></td>
            <td>{{ mailing_list.subscribers_count }}</td>
            <td>{{ mailing_list.open_rate|percentage }}%</td>
            <td>{{ mailing_list.click_rate|percentage }}%</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'includes/card_footer_paginator.html' %}
  </div>
{% endblock %}
