{% extends 'lists/base.html' %}

{% load colossus static i18n l10n humanize %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'vendor/flag-icon/css/flag-icon.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'vendor/Chart.js/2.7.2/Chart.bundle.min.js' %}"></script>
  <script type="text/javascript">
    function loadChart(id) {
      var chartContainer = document.getElementById(id);
      var url = chartContainer.getAttribute("data-remote-url")
      $.ajax({
        url: url,
        dataType: 'json',
        success: function (data) {
          var ctx = chartContainer.getContext("2d");
          new Chart(ctx, data.chart);
        }
      });
    }

    $(function () {
      loadChart("subscriptionProgress");
      loadChart("listDomains");
      loadChart("listLocations");
      $("[data-toggle='tooltip']").tooltip();
    });
  </script>
{% endblock %}

{% block innercontent %}
  <div class="card-body">
    <h5 class="card-title">{% trans 'List Overview' %} <small class="text-muted">{% trans '(for Last 30 days)' %}</small></h5>
    <canvas id="subscriptionProgress" data-remote-url="{% url 'lists:charts_subscriptions_summary' mailing_list.pk %}"></canvas>
  </div>
  <table class="table table-bordered mb-0" style="border: 0 none;">
  <tbody>
  <tr>
    <td style="width: 33.3%; border-left: 0 none; border-bottom: 0 none;">
      <p class="mb-1">{% trans 'Subscribed' %}</p>
      <strong>{{ summary_last_30_days.subscribed }}</strong>
    </td>
    <td style="width: 33.3%; border-right: 0 none; border-bottom: 0 none;">
      <p class="mb-1">{% trans 'Unsubscribed' %}</p>
      <strong>{{ summary_last_30_days.unsubscribed }}</strong>
    </td>
    <td style="width: 33.3%; border-right: 0 none; border-bottom: 0 none;">
      <p class="mb-1">{% trans 'Cleaned' %}</p>
      <strong>{{ summary_last_30_days.cleaned }}</strong>
    </td>
  </tr>
  </tbody>
  </table>
{% endblock %}

{% block outercontent %}
  <div class="row mb-3 text-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="mb-1">{{ subscribed_count|intcomma }}</h3>
          <p class="card-text">{% trans 'Subscribed' %}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="mb-1">{{ unsubscribed_count|intcomma }}</h3>
          <p class="card-text">{% trans 'Unsubscribed' %}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="mb-1">{{ cleaned_count|intcomma }}</h3>
          <p class="card-text">{% trans 'Cleaned' %}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header">{% trans 'List performance' %}</h5>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between">
            <h5>{% trans 'Open rate' %}</h5>
            <span>{{ mailing_list.open_rate|percentage }}%</span>
          </div>
          <div class="progress mb-2">
            <div class="progress-bar"
                 role="progressbar"
                 style="width: {{ mailing_list.open_rate|percentage|unlocalize }}%"
                 aria-valuenow="{{ mailing_list.open_rate|percentage|unlocalize }}"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          {% if last_campaign %}
            <small class="d-flex justify-content-between text-muted">
              <span>{% trans 'Last campaign' %}</span>
              <span>{{ last_campaign.open_rate|percentage }}%</span>
            </small>
          {% endif %}
        </div>
        <div class="col">
          <div class="d-flex justify-content-between">
            <h5>{% trans 'Click rate' %}</h5>
            <span>{{ mailing_list.click_rate|percentage }}%</span>
          </div>
          <div class="progress mb-2">
            <div class="progress-bar"
                 role="progressbar"
                 style="width: {{ mailing_list.click_rate|percentage|unlocalize }}%"
                 aria-valuenow="{{ mailing_list.click_rate|percentage|unlocalize }}"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          {% if last_campaign %}
            <small class="d-flex justify-content-between text-muted">
              <span>{% trans 'Last campaign' %}</span>
              <span>{{ last_campaign.click_rate|percentage }}%</span>
            </small>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header">{% trans 'Top locations' %}</h5>
    <div class="card-body">
      <div class="row">
        <div class="col">
          {% for location in locations %}
            <p class="card-text d-flex justify-content-between">
              <span>
                {{ location.location__country__code|flag }}
                <a href="{% url 'lists:country_report' mailing_list.pk location.location__country__code %}">{{ location.location__country__name }}</a>
              </span>
              <span data-toggle="tooltip" data-placement="left" title="{{ location.total|intcomma }}">
                {{ location.total|calc_percentage:mailing_list.subscribers_count }}%
              </span>
            </p>
          {% endfor %}
        </div>
        <div class="col">
          <canvas id="listLocations" data-remote-url="{% url 'lists:charts_list_locations' mailing_list.pk %}"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header">{% trans 'Top domains' %}</h5>
    <div class="card-body">
    <div class="row">
      <div class="col">
        {% for domain in domains %}
          <p class="card-text d-flex justify-content-between">
            <span>
              {{ domain.domain__name|domain_icon }}
              {{ domain.domain__name }}
            </span>
            <span data-toggle="tooltip" data-placement="left" title="{{ domain.total|intcomma }}">
              {{ domain.total|calc_percentage:mailing_list.subscribers_count }}%
            </span>
          </p>
        {% endfor %}
      </div>
      <div class="col">
        <canvas id="listDomains" data-remote-url="{% url 'lists:charts_list_domains' mailing_list.pk %}"></canvas>
      </div>
    </div>
    </div>
  </div>
{% endblock %}
