{% extends 'base.html' %}

{% load crispy_forms_tags i18n %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'lists:lists' %}">{% trans 'Mailing Lists' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lists:list' mailing_list.pk %}">{{ mailing_list.name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lists:tags' mailing_list.pk %}">{% trans 'Tags' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lists:edit_tag' mailing_list.pk tag.pk %}">{{ tag.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Delete' %}</li>
    </ol>
  </nav>
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="card-title">{% trans 'Are you sure?' %}</h2>
      <p>You are about to delete the tag <strong>{{ tag.name }}</strong> from the list.</p>
      <p>The subscribers associated with this tag <strong>won't</strong> be deleted.</p>
      <form method="post" novalidate>
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" role="button">{% trans 'Confirm deletion' %}</button>
        <a href="{% url 'lists:edit_tag' mailing_list.pk tag.pk %}" class="btn btn-outline-secondary" role="button">{% trans 'Never mind' %}</a>
      </form>
    </div>
  </div>
{% endblock %}
