{% extends 'campaigns/base.html' %}

{% load i18n humanize %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'campaigns:campaign_detail' campaign.pk %}">{{ campaign.name }}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{% trans 'Links' %}</li>
{% endblock %}

{% block innercontent %}
  <table class="table table-striped table-bordered mb-0">
    <thead>
      <tr>
        <th>{% trans 'ID' %}</th>
        <th>{% trans 'URL' %}</th>
        <th class="text-right">{% trans 'Index' %}</th>
        <th class="text-right">{% trans 'Unique clicks' %}</th>
        <th class="text-right">{% trans 'Total clicks' %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for link in links %}
        <tr>
          <td>{{ link.short_uuid }}</td>
          <td>
            <a href="{{ link.url }}" rel="noopener nofollow" target="_blank" class="text-truncate">{{ link.url }}</a>
          </td>
          <td class="text-right">{{ link.index }}</td>
          <td class="text-right">{{ link.unique_clicks_count|intcomma }}</td>
          <td class="text-right">{{ link.total_clicks_count|intcomma }}</td>
          <td class="text-right">
            <a href="{% url 'campaigns:edit_link' campaign.pk link.pk %}" class="btn btn-primary btn-sm">{% trans 'Edit URL' %}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
