{% extends 'base.html' %}

{% load campaigns crispy_forms_tags i18n %}

{% block title %}{{ campaign.name }}{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'campaigns:campaigns' %}">{% trans 'Campaigns' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ campaign.name }}</li>
    </ol>
  </nav>
  <div class="card mb-3">
    <div class="card-body d-flex justify-content-between align-items-center">
      <h2 class="mb-0">{{ campaign.name }} <small class="text-muted">#{{ campaign.id }}</small></h2>
      {{ campaign|campaign_status_badge }}
    </div>
    <ul class="list-group list-group-flush">

      <li class="list-group-item d-flex justify-content-between align-items-center">
        {% if campaign.mailing_list %}
          <div class="d-flex align-items-center">
            <i data-feather="check-circle" class="mr-3 text-success"></i>
            <div>
              <h5 class="mb-1">{% trans 'To' %}</h5>
              <p class="mb-1">
                {% if campaign.tag %}
                  {% blocktrans trimmed with campaign.mailing_list.name as name and campaign.tag.name as tag_name %}
                    Subscribers in the list <strong>{{ name }}</strong> with tag <span class="badge badge-primary">{{ tag_name }}</span>.
                  {% endblocktrans %}
                {% else %}
                  {% blocktrans trimmed with campaign.mailing_list.name as name %}
                    All subscribers in the list <strong>{{ name }}</strong>.
                  {% endblocktrans %}
                {% endif %}
              </p>
              <p class="mb-0">
                <a href="javascript:void(0);">{% blocktrans trimmed with campaign.get_recipients.count as count %}{{ count }} recipients{% endblocktrans %}</a>.
              </p>
            </div>
          </div>
          <a href="{% url 'campaigns:campaign_edit_recipients' campaign.pk %}" role="button" class="btn btn-outline-secondary">{% trans 'Edit recipients' %}</a>
        {% else %}
          <div class="d-flex align-items-center">
            <i data-feather="circle" class="mr-3 text-muted"></i>
            <div>
              <h5 class="mb-1">{% trans 'To' %}</h5>
              <p class="text-muted font-italic mb-0">{% trans 'Who are you sending this campaign to?' %}</p>
            </div>
          </div>
          <a href="{% url 'campaigns:campaign_edit_recipients' campaign.pk %}" role="button" class="btn btn-secondary">{% trans 'Add recipients' %}</a>
        {% endif %}
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center">
        {% if campaign.email.from_email %}
          <div class="d-flex align-items-center">
            <i data-feather="check-circle" class="mr-3 text-success"></i>
            <div>
              <h5 class="mb-1">{% trans 'From' %}</h5>
              <p class="mb-0">{{ campaign.email.get_from }}</p>
            </div>
          </div>
          <a href="{% url 'campaigns:campaign_edit_from' campaign.pk %}" role="button" class="btn btn-outline-secondary">{% trans 'Edit from' %}</a>
        {% else %}
          <div class="d-flex align-items-center">
            <i data-feather="circle" class="mr-3 text-muted"></i>
            <div>
              <h5 class="mb-1">{% trans 'From' %}</h5>
              <p class="text-muted font-italic mb-0">{% trans 'Who is sending this campaign?' %}</p>
            </div>
          </div>
          <a href="{% url 'campaigns:campaign_edit_from' campaign.pk %}" role="button" class="btn btn-secondary">{% trans 'Add from' %}</a>
        {% endif %}
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center">
        {% if campaign.email.subject %}
          <div class="d-flex align-items-center">
            <i data-feather="check-circle" class="mr-3 text-success"></i>
            <div>
              <h5 class="mb-1">{% trans 'Subject' %}</h5>
              <p class="mb-0">{{ campaign.email.subject }}</p>
              {% if campaign.email.preview %}<small class="text-muted">Preview: {{ campaign.email.preview }}</small>{% endif %}
            </div>
          </div>
          <a href="{% url 'campaigns:campaign_edit_subject' campaign.pk %}" role="button" class="btn btn-outline-secondary">{% trans 'Edit subject' %}</a>
        {% else %}
          <div class="d-flex align-items-center">
            <i data-feather="circle" class="mr-3 text-muted"></i>
            <div>
              <h5 class="mb-1">{% trans 'Subject' %}</h5>
              <p class="text-muted font-italic mb-0">{% trans "What's the subject line for this campaign?" %}</p>
            </div>
          </div>
          <a href="{% url 'campaigns:campaign_edit_subject' campaign.pk %}" role="button" class="btn btn-secondary">{% trans 'Add subject' %}</a>
        {% endif %}
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center">
        {% if campaign.email.content %}
          <div class="d-flex align-items-center">
            <i data-feather="check-circle" class="mr-3 text-success"></i>
            <div>
              <h5 class="mb-1">{% trans 'Content' %}</h5>
              <div>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#previewEmailModal">{% trans 'Preview Email' %}</a>
                ・
                <a href="javascript:void(0);" data-toggle="modal" data-target="#sendTestEmailModal">{% trans 'Send Test Email' %}</a>
              </div>
            </div>
          </div>
          <div>
              <p class="mb-0">
                <small class="text-muted">
                  {% if checklist.unsub %}
                    <i data-feather="check" class="text-success" style="height:15px;vertical-align:middle;"></i>
                    {% trans 'Email contains unsubscribe link.' %}
                  {% else %}
                    <i data-feather="x" class="text-danger" style="height:15px;vertical-align:middle;"></i>
                    {% trans 'Unsubscribe link not found.' %} <a href="{% url 'campaigns:campaign_edit_content' campaign.pk %}">{% trans 'Resolve' %}</a>
                  {% endif %}
                </small>
              </p>
          </div>
          <a href="{% url 'campaigns:campaign_edit_content' campaign.pk %}" role="button" class="btn btn-outline-secondary">{% trans 'Edit design' %}</a>
        {% else %}
          <div class="d-flex align-items-center">
            <i data-feather="circle" class="mr-3 text-muted"></i>
            <div>
              <h5 class="mb-1">{% trans 'Content' %}</h5>
              <p class="text-muted font-italic mb-0">{% trans 'Design the content for your email.' %}</p>
            </div>
          </div>
          <a href="{% url 'campaigns:campaign_edit_content' campaign.pk %}" role="button" class="btn btn-secondary">{% trans 'Design email' %}</a>
        {% endif %}
      </li>

    </ul>
    <div class="card-footer d-flex justify-content-between">
      <div>
        {% if campaign.can_send %}
          <a href="{% url 'campaigns:send_campaign' campaign.pk %}" class="btn btn-primary" role="button">{% trans 'Send campaign' %}</a>
          <a href="{% url 'campaigns:schedule_campaign' campaign.pk %}" class="btn btn-outline-primary" role="button">{% trans 'Schedule' %}</a>
        {% else %}
          <a href="#" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true">{% trans 'Send campaign' %}</a>
          <a href="#" class="btn btn-outline-primary disabled" tabindex="-1" role="button" aria-disabled="true">{% trans 'Schedule' %}</a>
        {% endif %}
        <a href="{% url 'campaigns:campaigns' %}" class="btn btn-outline-secondary" role="button">{% trans 'Finish later' %}</a>
      </div>
      <a href="{% url 'campaigns:delete_campaign' campaign.pk %}" class="btn btn-outline-danger" role="button">{% trans 'Discard' %}</a>
    </div>
  </div>

  <div class="modal fade" id="sendTestEmailModal" tabindex="-1" role="dialog" aria-labelledby="sendTestEmailModalLabel" aria-hidden="true">
    <form method="post" action="{% url 'campaigns:campaign_test_email' campaign.pk %}">
      {% csrf_token %}
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="sendTestEmailModalLabel">{% trans 'Send test email' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{ test_email_form|crispy }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{% trans 'Never mind' %}</button>
            <button type="submit" class="btn btn-success">{% trans 'Send email' %}</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal fade" id="previewEmailModal" tabindex="-1" role="dialog" aria-labelledby="previewEmailMdalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="previewEmailMdalLabel">{% trans 'Preview email' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0">
          <iframe src="{% url 'campaigns:campaign_preview_email' campaign.pk %}" class="w-100" style="min-height:500px; border: 0 none;"></iframe>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
