{% extends 'base.html' %}

{% load crispy_forms_tags i18n static %}

{% block title %}{% trans 'Design Email' %}{% endblock %}

{% block stylesheet %}
  <style type="text/css">
    div.mce-tinymce.mce-container.mce-panel {
      border-width: 0!important;
    }
  </style>
{% endblock %}

{% block javascript %}
  <script src="{% static 'vendor/tinymce/4.7.13/tinymce.min.js' %}"></script>
  <script>
    $(function () {
      var baseHeight = $(window).height() - $("#editor").offset()['top'] - 18;
      var blocksCount = $("#contentBlocks .card").length;
      var editorHeight = baseHeight - (blocksCount * 52) - 34 - 2;
      var previewHeight = baseHeight;

      $("#previewEmailContainer .card-body").css("height", previewHeight + "px");

      if (editorHeight < 300) {
        editorHeight = 300;
      }

      /*{% comment %}
      vendor/tinymce/tinymce.min.js
      Initialize the rich text editor to compose email message
      {% endcomment %}*/
      tinymce.init({
        selector: 'textarea',
        menubar: false,
        statusbar: false,
        plugins: 'textcolor lists code link',
        toolbar: 'undo redo |  formatselect | bold italic backcolor | link | alignleft aligncenter alignright alignjustify | bullist numlist | removeformat | code',
        forced_root_block: 'div',
        skin: 'colossus',
        height: editorHeight,
        init_instance_callback: function () {
          previewHeight = $("#contentBlocks").height() - 2;
          $("#previewEmailContainer .card-body").css("height", previewHeight + "px");
        }
      });

      $(".js-update-preview").click(function () {
        var $btn = $(this);

        $.ajax({
          url: $btn.attr("data-remote-url"),
          type: 'post',
          data: {
            'content': editor.getValue(),
            'csrfmiddlewaretoken': $btn.attr("data-csrf")
          },
          dataType: 'json',
          beforeSend: function () {
            $btn.attr("data-text", $btn.text());
            $btn.text($btn.attr("data-loading"));
            $btn.prop("disable", true);
          },
          success: function (data) {
            $("#previewEmailIframe").contents().find("html").html(data.html);
          },
          error: function () {

          },
          complete: function () {
            $btn.text($btn.attr("data-text"));
            $btn.prop("disable", false);
          }
        });

      });

    });
  </script>
{% endblock %}

{% block main %}
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'campaigns:campaigns' %}">{% trans 'Campaigns' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'campaigns:campaign_edit' campaign.pk %}">{{ campaign.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Design Email' %}</li>
      </ol>
    </nav>
    <form method="post" novalidate>
      {% csrf_token %}
      <div class="mb-3 d-flex align-items-center justify-content-between">
        <h3 class="m-0">{% trans 'Design Email' %}</h3>
        <nav>
          <button type="button" class="btn btn-link">{% trans 'Send test email' %}</button>
          <a href="{% url 'campaigns:campaign_edit_template' campaign.pk %}" class="btn btn-link">{% trans 'Change template' %}</a>
          <button type="button"
                  class="btn btn-outline-primary js-update-preview"
                  data-csrf="{{ csrf_token }}"
                  data-remote-url="{% url 'campaigns:campaign_preview_email' campaign.pk %}"
                  data-loading="{% trans 'Updating preview…' %}">{% trans 'Update preview' %}</button>
          <button type="submit" class="btn btn-outline-success">{% trans 'Save changes' %}</button>
          <button type="submit" class="btn btn-success">{% trans 'Save and close' %}</button>
        </nav>
      </div>
      <div class="row" id="editor">
        <div class="col-lg-6">
          <div class="accordion mb-3" id="contentBlocks">
            {% for field in form %}
              <div class="card">
                <div class="card-header" id="heading_{{ forloop.counter }}">
                  <h5 class="mb-0">
                    <button class="btn btn-link p-0" type="button" data-toggle="collapse" data-target="#collapse_{{ forloop.counter }}"{% if forloop.first %} aria-expanded="true"{% endif %} aria-controls="collapse_{{ forloop.counter }}">
                      {{ field.label|title }}
                    </button>
                  </h5>
                </div>
                <div id="collapse_{{ forloop.counter }}" class="collapse{% if forloop.first %} show{% endif %}" aria-labelledby="heading_{{ forloop.counter }}" data-parent="#contentBlocks">
                  <div class="card-body p-0">
                    {{ field }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card" id="previewEmailContainer">
            <div class="card-body p-0">
              <iframe src="{% url 'campaigns:campaign_preview_email' campaign.pk %}" id="previewEmailIframe" class="w-100 h-100" style="border:0;"></iframe>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
