{% extends 'base.html' %}

{% load crispy_forms_tags i18n static %}

{% block title %}{% trans 'Design Email' %}{% endblock %}

{% block stylesheet %}
  <style type="text/css">
    div.mce-tinymce.mce-container.mce-panel {
      border-width: 0!important;
    }
  </style>
{% endblock %}

{% block javascript %}
  <script src="{% static 'vendor/tinymce/4.7.13/tinymce.min.js' %}"></script>
  <script>
    $(function () {
      var baseHeight = $(window).height() - $("#editor").offset()['top'] - 18;
      var blocksCount = $("#contentBlocks .card").length;
      var editorHeight = baseHeight - (blocksCount * 52) - 34 - 2;
      var previewHeight = baseHeight;

      $("#previewEmailContainer .card-body").css("height", previewHeight + "px");

      if (editorHeight < 300) {
        editorHeight = 300;
      }

      var $editorForm = $("#editorForm");

      /*{% comment %}
      vendor/tinymce/tinymce.min.js
      Initialize the rich text editor to compose email message
      {% endcomment %}*/
      tinymce.init({
        selector: 'textarea',
        menubar: false,
        statusbar: false,
        plugins: 'textcolor lists code link',
        toolbar: 'undo redo |  formatselect | bold italic backcolor | link | alignleft aligncenter alignright alignjustify | bullist numlist | removeformat | code',
        forced_root_block: 'div',
        skin: 'colossus',
        height: editorHeight,
        init_instance_callback: function (editor) {
          previewHeight = $("#contentBlocks").height() - 2;
          $("#previewEmailContainer .card-body").css("height", previewHeight + "px");

          editor.on('Change', function (e) {

            tinymce.triggerSave();

            $.ajax({
              url: $editorForm.attr("data-preview-url"),
              type: $editorForm.attr("method"),
              data: $editorForm.serialize(),
              dataType: 'json',
              beforeSend: function () {},
              success: function (data) {
                $("#previewEmailIframe").contents().find("html").html(data.html);
              },
              error: function () {},
              complete: function () {}
            });
          });

        }
      });

    });
  </script>
{% endblock %}

{% block main %}
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'campaigns:campaigns' %}">{% trans 'Campaigns' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'campaigns:campaign_edit' campaign.pk %}">{{ campaign.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Design Email' %}</li>
      </ol>
    </nav>
    <form id="editorForm" method="post" novalidate data-preview-url="{% url 'campaigns:campaign_preview_email' campaign.pk %}">
      {% csrf_token %}
      <div class="mb-3 d-flex align-items-center justify-content-between">
        <h3 class="m-0">{% trans 'Design Email' %}</h3>
        <nav>
          <a href="{% url 'campaigns:campaign_edit_template' campaign.pk %}" class="btn btn-link">{% trans 'Change template' %}</a>
          <button type="submit" name="action" value="save_changes" class="btn btn-outline-success" role="button">{% trans 'Save changes' %}</button>
          <button type="submit" name="action" value="save_and_close" class="btn btn-success" role="button">{% trans 'Save and close' %}</button>
        </nav>
      </div>
      <div class="row" id="editor">
        <div class="col-lg-6">
          <div class="accordion mb-3" id="contentBlocks">
            {% for field in form %}
              <div class="card">
                <div class="card-header" id="heading_{{ forloop.counter }}">
                  <h5 class="mb-0">
                    <button class="btn btn-link p-0" type="button" data-toggle="collapse" data-target="#collapse_{{ forloop.counter }}"{% if forloop.first %} aria-expanded="true"{% endif %} aria-controls="collapse_{{ forloop.counter }}">
                      {{ field.label|title }}
                    </button>
                  </h5>
                </div>
                <div id="collapse_{{ forloop.counter }}" class="collapse{% if forloop.first %} show{% endif %}" aria-labelledby="heading_{{ forloop.counter }}" data-parent="#contentBlocks">
                  <div class="card-body p-0">
                    {{ field }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card" id="previewEmailContainer">
            <div class="card-body p-0">
              <iframe src="{% url 'campaigns:campaign_preview_email' campaign.pk %}" id="previewEmailIframe" class="w-100 h-100" style="border:0;"></iframe>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
