{% load i18n %}

<div class="list-group list-group-flush" style="max-width:300px;">
  {% if notifications %}
    <div class="list-group-item py-2">
      <a href="">{% trans 'Mark all as read' %}</a> ・ <a href="">{% trans 'Clear all' %}</a>
    </div>
    {% for notification in notifications %}
      <a href="{% url 'notifications:notification_detail' notification.pk %}" class="list-group-item list-group-item-action{% if not notification.is_read %} list-group-item-primary{% endif %}">
        <p class="mb-0">{{ notification.text }}</p>
        <small class="text-muted">{{ notification.date|date:"D d M Y - P" }}</small>
      </a>
    {% endfor %}
    <a href="{% url 'notifications:notifications' %}" class="list-group-item list-group-item-action list-group-item-dark text-center py-2">
      {% trans 'See All' %}
    </a>
  {% else %}
    <div class="list-group-item text-muted">{% trans 'All cleared up!' %}</div>
  {% endif %}
</div>
