{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Notifications' %} — {{ block.super }}{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">{% trans 'Notifications' %}</li>
        </ol>
      </nav>
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">{% trans 'Notifications' %}</h2>
        <nav>
          <a href="" class="btn btn-outline-primary" role="button">{% trans 'Clear all' %}</a>
          <a href="" class="btn btn-primary" role="button">{% trans 'Mark all as read' %}</a>
        </nav>
      </div>
      <div class="card">
        <div class="card-body">
          {% for notification in notifications %}
            {% ifchanged %}
              <h6>{{ notification.date|date:'j M, Y' }}</h6>
            {% endifchanged %}
          {% empty %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
