{% extends 'base.html' %}

{% load campaigns crispy_forms_tags i18n %}

{% block title %}{{ campaign.name }}{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'campaigns:campaigns' %}">{% trans 'Campaigns' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ campaign.name }}</li>
    </ol>
  </nav>
  <h2 class="mb-3">{{ campaign.name }}</h2>
  <div class="card mb-3">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Campaign Preview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reports</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <dl class="row mb-0">
        <dt class="col-sm-3">Date and time</dt>
        <dd class="col-sm-9">{{ campaign.send_date }}</dd>

        <dt class="col-sm-3">From</dt>
        <dd class="col-sm-9">{{ campaign.email.get_from }}</dd>

        <dt class="col-sm-3">Subject</dt>
        <dd class="col-sm-9">{{ campaign.email.subject }}</dd>

        {% if campaign.email.preview %}
          <dt class="col-sm-3">Preview text</dt>
          <dd class="col-sm-9">{{ campaign.email.preview }}</dd>
        {% endif %}

        <dt class="col-sm-3">Recipients</dt>
        <dd class="col-sm-9">{{ campaign.recipients_count }} subscribers from {{ campaign.mailing_list.name }}</dd>
      </dl>
    </div>
  </div>
{% endblock %}
