{% extends 'base.html' %}

{% load crispy_forms_tags i18n %}

{% block title %}{% trans 'Create new campaign' %}{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'campaigns:campaigns' %}">{% trans 'Campaigns' %}</a></li>
      {% if campaign %}
        <li class="breadcrumb-item"><a href="{% url 'campaigns:campaign_edit' campaign.pk %}">{{ campaign.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% spaceless %}
          {% if title %}
            {{ title }}
          {% else %}
            {% trans 'Edit campaign' %}
          {% endif %}
        {% endspaceless %}</li>
      {% else %}
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Create new campaign' %}</li>
      {% endif %}
    </ol>
  </nav>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">
        {% if campaign %}
          {% if title %}
            {{ title }}
          {% else %}
            {% trans 'Edit campaign' %}
          {% endif %}
        {% else %}
          {% trans 'Create new campaign' %}
        {% endif %}
      </h2>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {% if campaign %}
          <button type="submit" class="btn btn-success" role="button">{% trans 'Save changes' %}</button>
          <a href="{% url 'campaigns:campaign_edit' campaign.pk %}" class="btn btn-outline-secondary" role="button">{% trans 'Never mind' %}</a>
        {% else %}
          <button type="submit" class="btn btn-success" role="button">{% trans 'Create campaign' %}</button>
          <a href="{% url 'campaigns:campaigns' %}" class="btn btn-outline-secondary" role="button">{% trans 'Never mind' %}</a>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
