{% extends 'base.html' %}

{% load crispy_forms_tags i18n static %}

{% block title %}{% trans 'Design email' %}{% endblock %}

{% block javascript %}
  <!--script src="{% static 'vendor/tinymce/4.7.13/tinymce.min.js' %}"></script>
  <script>
    $(function () {
      /*{% comment %}
      vendor/tinymce/tinymce.min.js
      Initialize the rich text editor to compose email message
      {% endcomment %}*/
      tinymce.init({
        selector: '#id_content',
        menubar: false,
        statusbar: false,
        plugins: 'textcolor lists code link',
        toolbar: 'undo redo |  formatselect | bold italic backcolor | link | alignleft aligncenter alignright alignjustify | bullist numlist | removeformat | code'
      });

    });
  </script-->
  <script src="{% static 'vendor/ace/1.3.3/ace.js' %}"></script>
  <script>
    $(function () {
      var editorHeight = $(window).height() - $("#designEmailContainer").offset()['top'] - (53 + 63 + 18);
      $("#editor").css("height", editorHeight + "px");
      $("#previewEmailContainer .card-body").css("height", editorHeight + "px");

      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/clouds");
      editor.getSession().setMode("ace/mode/html");
      editor.getSession().setUseWrapMode(true);

      $("#designEmailForm").submit(function () {
        $("#id_content").val(editor.getValue());
        return true;
      });
    });
  </script>
{% endblock %}

{% block main %}
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'campaigns:campaigns' %}">{% trans 'Campaigns' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'campaigns:campaign_edit' campaign.pk %}">{{ campaign.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Design email' %}</li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-lg-6">
        <div class="card border-primary mb-3" id="designEmailContainer">

          <h4 class="card-header">{% trans 'Design email' %}</h4>

          <div class="card-body p-0">
            <div id="editor" style="height:300px">{{ campaign.email.content }}</div>
          </div>

          <div class="card-footer">
            <form method="post" id="designEmailForm" novalidate>
              {% csrf_token %}
              <div style="display:none;">
                {{ form|crispy }}
              </div>
              <button type="submit" class="btn btn-success" role="button">{% trans 'Save changes' %}</button>
              <a href="{% url 'campaigns:campaign_edit' campaign.pk %}" class="btn btn-outline-secondary" role="button">{% trans 'Never mind' %}</a>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card" id="previewEmailContainer">
          <h4 class="card-header">Preview email</h4>
          <div class="list-group list-group-flush">
            <div class="list-group-item">
              <button type="button" class="btn btn-primary">Update preview</button>
              <button type="button" class="btn btn-outline-primary">Send test email</button>
            </div>
          </div>
          <div class="card-body p-0">
            <iframe src="{% url 'campaigns:campaign_preview_email' campaign.pk %}" class="w-100 h-100" style="border:0;"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
