{% extends 'lists/base.html' %}

{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
  <script type="text/javascript">
    $(function () {
      var $chartContainer = $("#subscriptionProgress");
      $.ajax({
        url: $chartContainer.attr("data-remote-url"),
        dataType: 'json',
        success: function (data) {
          var ctx = $chartContainer[0].getContext("2d");
          var progressChart = new Chart(ctx, data.chart);
        }
      });
    });
  </script>
{% endblock %}

{% block innercontent %}
  <div class="card-body">
    <canvas id="subscriptionProgress" data-remote-url="{% url 'lists:charts_subscriptions_summary' mailing_list.pk %}"></canvas>
  </div>
{% endblock %}
