{% extends 'lists/base.html' %}

{% load i18n subscribers %}

{% block innerbreadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'lists:list' mailing_list.pk %}">{{ mailing_list.name }}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{% trans 'Subscribers' %}</li>
{% endblock %}

{% block innercontent %}
  <div class="card-body">
    <a href="{% url 'lists:new_subscriber' mailing_list.pk %}" class="btn btn-primary" role="button">{% trans 'Add subscriber' %}</a>
    <a href="{% url 'lists:import_subscribers' mailing_list.pk %}" class="btn btn-outline-primary" role="button">{% trans 'Import subscribers' %}</a>
  </div>
  <div class="list-group list-group-flush">
    <div class="list-group-item">
      <div class="row">
        <div class="col-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search subscribers" aria-label="Search subscribers" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button">{% trans 'Search' %}</button>
            </div>
          </div>
        </div>
        <div class="col-6">
        </div>
      </div>
    </div>
  </div>
  <table class="table table-sm mb-0">
    <thead>
      <tr>
        <th>{% trans 'Email address' %}</th>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Status' %}</th>
        <th>{% trans 'Date subscribed' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for subscriber in subscribers %}
        <tr>
          <td><a href="{% url 'lists:edit_subscriber' mailing_list.pk subscriber.pk %}">{{ subscriber.email }}</a></td>
          <td>{{ subscriber.name }}</td>
          <td>{{ subscriber|status_badge }}</td>
          <td>{{ subscriber.optin_date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if is_paginated %}
    <div class="card-footer">
      <nav aria-label="{% trans 'Subscribers listing pages' %}">
        {% include 'includes/paginator.html' %}
      </nav>
    </div>
  {% endif %}
{% endblock %}
