{% extends 'base.html' %}

{% load crispy_forms_tags i18n %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'lists:lists' %}">{% trans 'Lists' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lists:list' mailing_list.pk %}">{{ mailing_list.name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lists:subscribers' mailing_list.pk %}">{% trans 'Subscribers' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% spaceless %}
        {% if object %}
          {% trans 'Edit subscriber' %}
        {% else %}
          {% trans 'New subscriber' %}
        {% endif %}
      {% endspaceless %}</li>
    </ol>
  </nav>
  <div class="card mb-3">
    <div class="card-body">
      {% if object %}<p>UUID: {{ object.uuid }}</p>{% endif %}
      <form method="post" novalidate>
        {% csrf_token %}
        <div class="row">
          <div class="col-md-10 col-lg-6">
            {{ form|crispy }}
          </div>
        </div>
        <button type="submit" class="btn btn-success" role="button">
          {% if object %}
            {% trans 'Save changes' %}
          {% else %}
            {% trans 'Create subscriber' %}
          {% endif %}
        </button>
        <a href="{% url 'lists:subscribers' mailing_list.pk %}" class="btn btn-outline-secondary" role="button">{% trans 'Never mind' %}</a>
      </form>
    </div>
  </div>

  {% if object %}
    <div class="card mb-3">
      <div class="card-header">{% trans 'Activities' %}</div>
      <ul class="list-group list-group-flush">
        {% for activity in object.activities.all %}
          <li class="list-group-item">{{ activity.date }} - {{ activity.activity_type }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}
