body {
  background-color: #f9f9f9;
}

nav.navbar .navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-family: 'Bungee Shade', cursive;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 1.4rem;
}

.table-sm {
  font-size: 87.5%;
}
