{% extends 'base.html' %}

{% load crispy_forms_tags i18n %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'mailing:lists' %}">{% trans 'Lists' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'mailing:list' mailing_list.pk %}">{{ mailing_list.name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'mailing:subscribers' mailing_list.pk %}">{% trans 'Subscribers' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Import subscribers' %}</li>
    </ol>
  </nav>
  <div class="card">
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <p>CSV file columns format:</p>
        <pre><code>email, name, optin_ip_address, confirm_ip_address</code></pre>
        <button type="submit" class="btn btn-success" role="button">{% trans 'Import from file' %}</button>
        <a href="{% url 'mailing:subscribers' mailing_list.pk %}" class="btn btn-outline-secondary" role="button">{% trans 'Never mind' %}</a>
      </form>
    </div>
  </div>
{% endblock %}
