{% extends 'mailing/mailinglist_base.html' %}

{% load i18n %}

{% block innerbreadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'mailing:list' mailing_list.pk %}">{{ mailing_list.name }}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{% trans 'Subscribers' %}</li>
{% endblock %}

{% block innercontent %}
  <div class="card-body">
    <a href="{% url 'mailing:new_subscriber' mailing_list.pk %}" class="btn btn-primary" role="button">{% trans 'Add subscriber' %}</a>
    <a href="{% url 'mailing:import_subscribers' mailing_list.pk %}" class="btn btn-outline-primary" role="button">{% trans 'Import subscribers' %}</a>
    <a href="" class="btn btn-outline-primary" role="button">{% trans 'Export subscribers' %}</a>
  </div>
  <table class="table table-sm mb-0">
    <thead>
      <tr>
        <th>{% trans 'Email address' %}</th>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Status' %}</th>
        <th>{% trans 'Date subscribed' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for subscriber in subscribers %}
        <tr>
          <td><a href="{% url 'mailing:edit_subscriber' mailing_list.pk subscriber.pk %}">{{ subscriber.email }}</a></td>
          <td>{{ subscriber.name }}</td>
          <td>{{ subscriber.get_status_display }}</td>
          <td>{{ subscriber.date_subscribed }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if is_paginated %}
    <div class="card-footer">
      <nav aria-label="{% trans 'Subscribers listing pages' %}">
        <ul class="pagination pagination-sm mb-0">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">{% trans 'Previous' %}</a>
            </li>
          {% endif %}

          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="page-item active">
                <a class="page-link" href="?page={{ i }}">{{ i }} <span class="sr-only">{% trans '(current)' %}</span></a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
              </li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">{% trans 'Next' %}</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  {% endif %}
{% endblock %}
